.post {
  margin-bottom: 20px;
  position: relative;
}
.post__avatar img {
  width: 20px;
}

.post__info {
  margin-right: 20px;
  cursor: pointer;
}
.post__info img {
  width: 20px;
}

/* postMenu-file */
.postMenu {
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 10;
  background-color: #dbe7f1;
  padding: 10px;
}
.postMenu__item {
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: transparent;
  transition: background-color 0.3s linear;
}
.postMenu__item:hover {
  background-color: #fff;
}
.postMenu__item img {
  width: 15px;
  margin-right: 10px;
}

.post__update {
  margin-bottom: 20px;
}
.post__update textarea {
  background-color: transparent;
  border: none;
  outline: none;
  width: fit-content;
  height: fit-content;
}

.commentsInput {
  background-color: #c8c8c8;
  color: rgb(32, 32, 32);
  border: none;
  outline: none;
  border-radius: 10px;
  margin-bottom: 10px;
}
