.postMenu {
  position: absolute;
  top: 20px;
  right: 0;
  z-index: 10;
  background-color: #dbe7f1;
  padding: 10px;
}
.postMenu__item {
  cursor: pointer;
  border-radius: 10px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: transparent;
  transition: background-color 0.3s linear;
}
.postMenu__item:hover {
  background-color: #fff;
}
.postMenu__item img {
  width: 15px;
  margin-right: 10px;
}

.post__update {
  margin-bottom: 20px;
}
.post__update textarea {
  background-color: transparent;
  border: none;
  outline: none;
  width: fit-content;
  height: fit-content;
}
.commentItem__wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.commentItem {
  font-size: 0.9em;
  color: #666;
  position: relative;
  width: fit-content;
  max-width: 400px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.commentItem__menuBlock {
  position: absolute;
  width: fit-content;
  top: 0;
  right: -50px;
  opacity: 0;
  transition: opacity 0.3s linear;
}
.commentItem:hover .commentItem__menuBlock {
  opacity: 1;
}
.commentItemPic {
  width: 15px;
  cursor: pointer;
}

.changeCommentForm input {
  background-color: transparent;
  border: none;
  outline: none;
}
.changeCommentForm_submit button {
  background-color: rgb(128, 204, 128);
  border: none;
  outline: none;
  cursor: pointer;
  color: #666;
  border-radius: 10px;
  transition: all 0.3s linear;
}
.changeCommentForm_submit button:hover {
  background-color: rgb(98, 151, 98);
  color: #333;
}
.comment__ava img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.commentContent {

}
.commentText span {
  display: block;
  background-color: #d2c7ff;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
}
.commentsActions {
  display: flex;
  gap: 20px;
}
.commentTextAndActionsBlock {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.commentsActions__item {
  cursor: pointer;
  display: flex;
  align-items: center;
  border-radius: 5px;
}
.commentsActions__item:hover {
  background-color: #d2c7ff;
}
.date {
  display: flex;
  align-items: center;
}
.commentsInput {
  margin-left: 40px;
  position: relative;
}
.replyCansel {
  position: absolute;
  bottom: -20px;
  left: 40px;
}
.commentMedia img {
  width: 150px;
  border-radius: 10px;
}
.commentMedia video {
  width: 300px;
  border-radius: 10px;
}
.commentMedia audio {
  width: 300px;
  border-radius: 10px;
}
.commentsAnswers {
  margin-left: 30px;
  font-size: .9em;
}