.dialogs {
  display: flex;
  flex-direction: column;
  overflow: auto;
  min-width: 400px;
  background-color: #f7f7f7;
}
.dialogs__head {
  height: 60px;
  background-color: #e4e4e4;
  display: flex;
  align-items: center;
  padding: 0 20px;
}