.message {
  width: 100%;
  padding: 5px 10px;
  display: flex;
  position: relative;
  z-index: 1;
}
.message:hover .message__burger {
  opacity: 1;
}
.message__auth {
  justify-content: end;
}
.message__textBlock {
  width: fit-content;
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: #e6d8ff;
  padding: 10px;
  border-radius: 0 10px 10px 10px;
  color: #333;
  position: relative;
}
.message__textBlock::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 15px solid #e6d8ff;
  border-left: 15px solid transparent;
  position: absolute;
  top: 0;
  left: -14px;
}
.message__textBlockAuth {
  align-items: end;
  border-radius: 10px 0 10px 10px;
  background-color: #f2ffd0;
  color: #555;
}
.message__textBlockAuth::before {
  border-top: 15px solid #f2ffd0;
  border-right: 15px solid transparent;
  border-left: none;
  left: 100%;
}

.message__text {
  color: #333;
}
.message__created {
  color: #999;
}

.message__burger {
  width: fit-content;
  position: absolute;
  left: calc(100% + 10px);
  top: 50%;
  transform: translateY(-50%);
  opacity: 0;
  transition: .3s;
}
.setVisible {
  opacity: 1;
}
.message__authBurger {
  left: -40px;
}

.message__options {
  display: flex;
  flex-direction: column;
  padding: 10px;
  position: absolute;
  bottom: calc(100% + 10px);
  left: 50%;
  z-index: 1000;
  width: max-content;
  background-color: aliceblue;
  transform: translateX(-50%);
  border-radius: 10px;
  box-shadow: 0 0 5px #00000050;
}
.message__options::before {
  content: "";
  width: 0;
  height: 0;
  border-top: 10px solid aliceblue;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  bottom: -9px;
  left: 50%;
  transform: translateX(-50%);
}
.message__options_item img {
  width: 20px;
  height: 20px;
  margin-right: 5px;
  padding-right: 5px;
  border-right: 2px solid #d1d1d1;
}
.message__options_item {
  display: flex;
  flex-direction: row;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.3s linear;
  border-radius: 5px;
}
.message__options_item:hover {
  background-color: rgb(183, 183, 183);
  color: #fff;
}

.message__deleteMenu {
  max-width: 300px;
  text-align: center;
  color: #c7c5c5;
  border: 2px solid red;
  margin: 0 auto;
  padding: 5px;
  background-color: rgba(212, 71, 71, 0.7);
}
.message__deleteMenu_text {
}
.message__deleteMenu_buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.message__deleteMenu_buttons button {
  max-width: 80px;
  width: 100%;
}

.message__deleted {
  width: 200px;
  margin: 0 auto;
  max-width: 300px;
  padding: 5px;
  text-align: center;
  border: 2px solid #224d35;
  background-color: #3b805a;
  color: #fff;
}
.spam {
  position: absolute;
  top: 15px;
  left: 0;
  width: 100%;
  height: calc(100% - 15px);
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}
.message__viewed {
  position: absolute;
  bottom: 0;
  right: -25px;
  width: 20px;
}
.message__viewedAuth {
  right: calc(100% + 5px);
}
