.delContainer {
    background-color: #cbcbfe;
    height: 100vh;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.delAvatar__img {
    width: 200px;
    display: inline-block;
}
.delInfo {
    color: #999;
    font-size: 1.5em;
    font-weight: bold
}
.delUserName {
    color: rgb(100, 82, 182);
    font-size: 1.5em;
}
.delRestoreButton {
    padding: 5px;
    border: none;
    background-color: #d2d0ff;
    color: #777;
    transition: .3s;
}
.delRestoreButton:hover {
    background-color: #ffffff;
    color: #777;
}