.updateMessage__Wrap {
    background-color: rgb(188, 188, 255);
    padding: 15px;
    box-shadow: 0 0 5px #00000040;
    margin: 10px 0;
    border-radius: 5px;
}

.messageFile input {
    display: none;
}
.inputsBlock {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.textInput {
    font-size: 1.2em;
    border: none;
    outline: none;
    background-color: #d8d8ff;
    border-radius: 20px;
    padding: 5px 15px;
    max-width: 80%;
}
.updateMessage__buttons {
    display: flex;
    gap: 10px;
}