.blockedProfile__container {
    padding: 20px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.blockedProfile__pic {
    width: 300px;
    border-radius: 50%;
}

.blockedProfile__info {
    font-size: 1.5em;
    color: #b47979;
}
.blockedProfile__userName {
    color: rgb(107, 70, 254);
    font-size: 1.2em;
}