.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-areas:
    "header header"
    "aside main"
    "footer footer";
}

.app__header {
  grid-area: header;
  background-color: rgb(111, 165, 212);
}
.app__main {
  grid-area: main;
  background-color: rgb(96, 184, 108);
}
.app__aside {
  grid-area: aside;
  background-color: rgb(170, 137, 137);
}
.app__footer {
  grid-area: footer;
  background-color: rgb(144, 180, 87);
}
